/* your styles go here */

.resume-pdf {
    width: 100%;
    height: auto;
}

.background-gray {
    background-color: lightgray;
}

.caption {
    font-style: italic;
    font-size: 10pt;
    font-family: HelveticaNeue-Light, Helvetica Neue Light;
    color: dimgrey;
}